
header.masthead {
  text-align: center;
  color: white;
  background-image: url('../../../../../assets/img/header-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

@media (min-width: 300px) {
  header.masthead {
    background-image: url('../../../../../assets/img/header-bg2.jpg');
    overflow: auto;
  }
}