<section id="background" #background>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Background</h2>
        <h3 class="section-subheading text-muted">Familiar with working in high-pressure and strict time management environment</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary" aria-hidden="true"></i>
          <i class="fa fa-linux fa-stack-1x fa-inverse" aria-hidden="true"></i>
        </span>
        <h4 class="service-heading">Linux</h4>
        <p class="text-muted">CentOS, Ubuntu, Apache, Nginx, Shell, DNS, MTA</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary" aria-hidden="true"></i>
          <i class="fa fa-laptop fa-stack-1x fa-inverse" aria-hidden="true"></i>
        </span>
        <h4 class="service-heading">PHP/Angular5</h4>
        <p class="text-muted">MVC/CodeIgniter/Slim, Redis, MQ,
          Memcached/Redis, RESTfulAPI/SOAP/XML-RPC, OAuth2, jQuery, Bootstrap</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary" aria-hidden="true"></i>
          <i class="fa fa-database fa-stack-1x fa-inverse" aria-hidden="true"></i>
        </span>
        <h4 class="service-heading">Database</h4>
        <p class="text-muted">MySQL, Oracle, SQL Server</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-lg-12">
        <p class="text-muted">Specialize in managing high-volume web services, designing RESTful API that integrates remote APIs
        and developing new features on the existing system</p>
      </div>
    </div>
  </div>

  <p></p>
  <div class="row">
    <div class="col-md-12 text-center">
      <ul class="list-inline social-buttons">
        <li class="list-inline-item">
          <a href="https://github.com/tangoslee">
            <i class="fa fa-github"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="http://matrix.senecacollege.ca/~smlee36/">
            <i class="fa fa-pencil-square-o"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.linkedin.com/in/sang-min-tangos-lee/">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>

</section>