.alert-modal {
  display: block !important;
}

/* .modal-dialog, .modal-body, .row {
  height: 100% !important;
} */

.modal-dialog {
  position: relative;
  min-height: 100%;
}

.modal-body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}