<div class="modal show alert-modal" id="alert" tabindex="-1" role="dialog" aria-hidden="true" *ngIf="show">
  <div class="modal-dialog" role="document">
    <!-- <div class="modal-content"> -->
    <div class="row text-center">
      <div class="modal-body row">

        <main class="col-xs-12">

          <ng-container *ngIf="type === 'card'">
            <!-- S:Card Alert-->
            <div class="alert alert-success" role="alert">
              <h4 class="alert-heading">Well done!</h4>
              <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer
                so that you can see how spacing within an alert works with this kind of content.</p>
              <hr>
              <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
            </div>
            <!-- E:Card Alert-->
          </ng-container>


          <ng-container *ngIf="type === 'confirm'">
            <!-- S: Confirm Alert -->
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>Holy guacamole!</strong> You should check in on some of those fields below.
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <!-- E: Confirm Alert -->
          </ng-container>

          <ng-container *ngIf="type === 'alert'">
            <!-- S: Alert -->
            <div class="alert" role="alert" [ngClass]="alert.type">
              {{alert.message}}
            </div>
            <!-- E: Alert -->
          </ng-container>

        </main>

      </div>
    </div>

    <!-- </div> -->
  </div>
</div>

<!-- <div class="modal-backdrop fade show alert-backdrop" *ngIf="show"></div> -->