<div class="portfolio-modal modal show" tabIndex="-1" role="dialog" aria-hidden="true" *ngIf="show" [ngClass]="{ show: true }">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal" (click)="close()">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">

              <div *ngIf="html" [innerHTML]="html"></div>

              <button class="btn btn-primary" data-dismiss="modal" type="button" (click)="close()">
                <i class="fa fa-times"></i>
                Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-backdrop show loading-backdrop" *ngIf="show"></div>