<div class="modal show loading-modal" id="loading" tabindex="-1" role="dialog" aria-hidden="true" *ngIf="show">
  <div class="modal-dialog" role="document">
    <!-- <div class="modal-content"> -->

    <div class="modal-body d-flex justify-content-center">

      <div class="row align-items-center">
        <div class="col">
          <i class="fa fa-spinner fa-lg mt-4 fa-4x fa-spin"></i>
        </div>
      </div>

    </div>

    <!-- </div> -->
  </div>
</div>

<div class="modal-backdrop fade show loading-backdrop" *ngIf="show"></div>